{% extends "encyclopedia/layout.html" %}
{% block body %}

    <h1 class="text-black text-[40px] pb-[30px]">creat Page</h1>
    <div class="bg-black w-[90%] h-[1px]"></div>
    <div class="">

        
        <form action="{% url 'savepage' %}" method="post">
            {% csrf_token %}
            <div class="flex w-[100%]">
                <input class="bg-red-400" type="text" name="titleq" >
                <textarea name="description"  cols="10" rows="10"></textarea>
            </div>
                <button type="submit"> save page</button>
        </form>
        
    </div>

{% endblock %}