{% extends "encyclopedia/layout.html" %}
{% block body %}

    <h1 class="text-black text-[40px] pb-[10px]">Creat new page</h1>
    <div class="bg-black w-[90%] h-[1px]"></div>
    <div class=" w-[50%]">

        <form action="{% url 'savepage' %}" method="post">
            {% csrf_token %}

<p>{{ data }}</p>

            <div class="relative mt-[10px]">
                <label class="label1 ml-[10px] absolute" for="title">Title</label>
                <input class="input1" type="text" name="titleq" id="title">
            </div>

            <div class="relative mt-[25px]">
                <label class="active absolute ml-[15px]" for="content"> Type your content here </label>
                <textarea class="textar" name="content" id="content" cols="30" rows="10"></textarea>
            </div>
                <button  class="text-[#3b85ba] text-[24px] mt-[10px]" type="submit"> save page</button>

        </form>
        
    </div>

{% endblock %}