{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3 gap-[5px]">
                <h2 class="text-[30px] mb-[20px] p-[10px]">Wiki</h2>
                <div class="bg-black w-[80%] h-[1.5px] mb-[30px]"></div>
                <form class="center" action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <input foucs class="rounded-[8px] text-[bold] ml-[10px] search p-[10px] w-[80%]" type="text" name="q" placeholder="Search Encyclopedia">
                </form>
                <div class="flex flex-col gap-[5px] p-[10px]">
                    <div>
                        <a class="nav-links" href="{% url 'index' %}">Home</a>
                    </div>
                    <div>
                        <a class="nav-links" href="{% url 'creatpage' %}">Create New Page</a>
                        
                    </div>
                    <div>
                        <a class="nav-links" href="{% url 'randompage' %}">Random Page</a>
                    </div>
                </div>
                    {% block nav %}
                    {% endblock %}
                </div>
            <div class="main col-lg-10 col-md-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>